<h1>Login</h1>

<%= form_for(:user, url: sessions_path) do |f| %>

    <div class="field">
      <%= f.label :login %><br/>
      <%= f.text_field :login %>
    </div>

    <p/>

    <div class="field">
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </div>

    <div class="actions">
      <%= f.submit "Login" %>
    </div>


<% end %>