<%= form_for([@todo_list, @todo_item]) do |f| %>
  <% if @todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul>
      <% @todo_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field">
      <%= f.label :due_date %><br>
      <%= f.text_field :due_date, :class => 'datepicker' %>
    </div>
    <p></p>
    <div class="field">
    <%= f.label :task_title %><br>
    <%= f.text_field :task_title %>
  </div>
    <p></p>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
    <p></p>
    <p></p>
  <div class="actions">
    <%= f.submit %>
  </div>
    <p></p>
<% end %>
