<p id="notice"><%= notice %></p>

<h1>Listing Todo Items</h1>

<table>
  <thead>
  <tr>
    <th>Task title</th>
    <th>Due date</th>
    <th>Description</th>
    <th>Done</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @todo_items.each do |todo_item| %>
      <tr>
        <td><%= todo_item.task_title %></td>
        <td><%= todo_item.due_date %></td>
        <td><%= todo_item.description %></td>
        <td><%= todo_item.done %></td>
        <td><%= link_to 'Show', todo_item %></td>
        <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
        <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo item', new_todo_item_path %>
