<p id="notice"><%= notice %></p>

<h1>
  <strong>Task Title:</strong>
  <%= @todo_item.task_title %>
</h1>

<h4>
  <strong>Due date:</strong>
  <%= @todo_item.due_date %>
</h4>

<p>
  <strong>Done yet?</strong>
  <%= @todo_item.done %>
</p>
<p>
  <strong>Description:</strong>
</p>
<h3>
  <%= @todo_item.description %>
</h3>
<h1></h1>

<%= link_to 'Edit Todo Item', edit_todo_list_todo_item_path(@todo_list, @todo_item) %> |
<%= link_to 'Delete Todo Item', [@todo_list, @todo_item], method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to Todo List', @todo_list %>
