<body>
<h1>Todo Lists</h1>
<p>
</p>
<%= link_to 'New Todo list', new_todo_list_path %>
<p></p>
<table>
  <thead>
  <tr>
    <th>List Due Date</th>
    <th>List Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @todo_lists.each do |todo_list| %>
      <tr>
        <td> <span class=" <%= all_done?(todo_list)?  'task_done': 'task_not_done' %> ">  <%= todo_list.list_due_date %> </span></td>
        <td><%= link_to todo_list.list_name, todo_list %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<p />
<%= will_paginate @todo_lists %>
<br>
</body>

