<h1>
  <strong>List Name:</strong>
  <%= @todo_list.list_name %>
</h1>

<h4>
  <strong>List Due Date:</strong>
  <%= @todo_list.list_due_date %>
</h4>
<P></P>

<table>
  <thead>
  <tr>
    <th>Due Date</th>
    <th>Task Title</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <%= link_to 'Add Todo item', new_todo_list_todo_item_path(@todo_list) %>
  <p></p>
  <tbody>
  <% @todo_items.each do |todo_item| %>
      <tr>
        <td><span class=" <%= todo_item.done ? 'task_done': 'task_not_done' %> "> <%= todo_item.due_date %> </span> </td>
        <td><%= link_to todo_item.task_title, [@todo_list, todo_item] %></td>

        <td ><span class=" <%= todo_item.done ? 'display_done': 'display_not_done' %> ">
          <%= form_for([@todo_list, todo_item], method: :put, id: "test") do |f| %>
              <%= f.hidden_field :done, value: '1' %>
              <%= f.submit 'Mark Item Done' -%>
          <% end %>
            </span>
        </td>

      </tr>
  <% end %>
  </tbody>
</table>

<p />
<%= will_paginate  @todo_items %>
<br>

<%= link_to 'Edit Todo List', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Delete Todo List', @todo_list, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to Todo Lists', todo_lists_path %>
