/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    background-color:beige;
}

td{
    padding: 12px;
}

h3 {
    background-color: powderblue ;
    padding: 10px;
    display: inline;
}
h4 {
    background-color: hotpink ;
    padding: 10px;
    display: inline;
}
span.task_done{
    background-color: lightgreen ;
    padding: 10px;
    display: inline;
}
span.task_not_done{
    background-color: lightcoral ;
    padding: 10px;
    display: inline;
}

span.display_done{
    padding: 10px;
    display: none;
}
span.display_not_done{
    padding: 10px;
    display: inline;
}