<!DOCTYPE html>
<html>
<head>
  <title>Assignment8</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/le-frog/jquery-ui.css' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>

    <div style='float: right;'>
      <%= link_to "Home", todo_lists_path %> You are logged in as <%= link_to current_user.login, accounts_path %> |
      <%= link_to "Logout", logout_path, data: {method: :delete} %>
    </div>
<% end %>


<% flash.each do |key, value| %>
    <%= content_tag :p, value, id: key %>
<% end %>


<%= yield %>

</body>
</html>