<h1>Updated Account Information</h1>

<table>
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @account.first_name %></td>
    <td><%= @account.last_name %></td>
    <td><%= @account.age %></td>
    <td><%= @account.gender %></td>
  </tr>
  </tbody>
</table>

<br>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', todo_lists_path %>